# ignore temporary files
*~
*.save

# ignore Maven generated target folders
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# ignore eclipse files
.project
.classpath
.settings
.metadata

# ignore IDEA files and folders
*.iml
*.ipr
*.iws
.idea
out/
